@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
  --font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  color: #332c3a;
  background: #f8f6ff;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

._container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrap {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

sup {
  font-size: 0.65em;
  line-height: 0;
  vertical-align: super;
}

.nav-header__item ._active {
  color: #ffa500;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__container {
  position: relative;
  padding: 15px;
  border: 1px solid #8e77ff;
  border-radius: 0 0 20px 20px;
  background: rgba(61, 25, 100, 0.55);
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-header__item:not(:nth-last-child(-n+2))::after {
  content: "";
  width: 1px;
  height: 25px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
}
.nav-header__link {
  cursor: pointer;
  display: block;
  padding: 26px 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.nav-header__link:hover {
  color: #ffbd41;
}

/* ============================================================================== */
@media (max-width: 1250px) {
  .menu__link {
    border: none;
    font-size: 20px;
  }
  .nav-header__link {
    padding: 5px;
  }
  .nav-header__item:not(:last-child)::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu__link {
    border: none;
    font-size: 18px !important;
  }
}
@media (max-width: 528px) {
  .menu__link {
    border: none;
    font-size: 16px !important;
  }
  .menu__body {
    width: 90% !important;
    height: 58% !important;
  }
}
.icon-menu {
  display: none;
}

/* ============================================================================== */
@media (max-width: 932.98px) {
  .nav-header__item {
    margin: 0px auto;
  }
  .icon-menu {
    display: block;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 932.98px) {
  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.menu__body {
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

@media (max-width: 932.98px) {
  .menu__body {
    background: rgba(61, 25, 100, 0.466);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    position: fixed;
    width: 80%;
    height: 65%;
    left: 50%;
    top: 0;
    overflow: auto;
  }
  .menu__body._active {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}
@media (max-width: 932.98px) {
  .menu__list {
    display: block;
    text-align: center;
    margin-top: 45px;
  }
}
@media (max-width: 932.98px) {
  .menu__list li {
    margin-top: 20px;
  }
}
@media (max-width: 932.98px) {
  .menu__link {
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}
.icon-menu2 {
  min-width: 60px;
  margin: 0px auto;
  display: none;
}

@media (max-width: 932.98px) {
  .icon-menu {
    position: relative;
    width: 60px;
    height: 17px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #000000;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu2 {
    display: block;
  }
  .icon-menu._active {
    display: none;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
    width: 30px;
  }
}
.home {
  background: url("../../images/mail-image.png") center/cover no-repeat;
  padding: 200px 0px 0px 0px;
}
.home__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home__logo {
  margin-bottom: 29px;
}
.home__title {
  font-weight: 400;
  font-size: 120px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffa500;
  margin-bottom: 30px;
}
.home__text span {
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.home__text {
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: #fff;
}
.home__decor {
  position: absolute;
  top: -112px;
  right: 110px;
}
.home__decor-main {
  position: absolute;
  top: -100px;
  left: 300px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.342) 100%);
}
.home__image2 {
  display: none;
}

/* ============================================================================== */
@media (max-width: 1250px) {
  .home {
    padding: 150px 0px 0px 0px;
  }
  .home__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .home__image img {
    max-width: 100%;
  }
  .home__decor {
    top: -112px;
    right: -99px;
  }
}
@media (max-width: 768px) {
  .home {
    background: url("../../images/main-image-phone.png") center/cover no-repeat;
  }
  .home__logo img {
    max-width: 182px;
  }
  .home__logo {
    margin-bottom: 14px;
  }
  .home__title {
    font-size: 96px;
    margin-bottom: 10px;
    max-height: 93px;
  }
  .home__text {
    font-size: 24px;
    margin-bottom: 85px;
  }
  .home__text span {
    font-size: 48px;
  }
  .home__image {
    display: none;
  }
  .home__image2 {
    display: block;
  }
  .home__image2 img {
    max-width: 100%;
  }
}
@media (max-width: 413px) {
  .home__title {
    font-size: 73px;
  }
  .home__text {
    font-size: 21px;
  }
  .home__text span {
    font-size: 45px;
  }
}
.effective {
  padding: 100px 0px;
}
.effective__container {
  position: relative;
}
.effective__title {
  font-weight: 900;
  font-size: 64px;
  color: #ffa500;
  margin-bottom: 10px;
}
.effective__subtitle {
  font-weight: 700;
  font-size: 40px;
  color: #6546a6;
  margin-bottom: 100px;
}
.effective__subtitle span {
  font-weight: 400;
  color: #000;
}
.effective__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.effective__row-item {
  border-radius: 40px;
  background: #432a6b;
  padding: 60px 20px;
  max-height: 367px;
  max-width: 420px;
}
.effective__row-img {
  margin-top: -100px;
}
.effective__row-title {
  font-weight: 700;
  font-size: 20px;
  color: #ffa500;
  margin-bottom: 30px;
  margin-top: 20px;
}
.effective__row-text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  max-width: 380px;
}
.effective__decor1 {
  position: absolute;
  bottom: 0;
  left: -50px;
  z-index: -1;
}
.effective__decor2 {
  position: absolute;
  bottom: -260px;
  right: -310px;
  z-index: -1;
}

/* ============================================================================== */
@media (max-width: 1250px) {
  .effective {
    padding: 50px 0px;
  }
  .effective__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .effective__title {
    text-align: center;
  }
  .effective__subtitle {
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .effective__title {
    font-size: 49px;
  }
  .effective__subtitle {
    font-size: 30px;
  }
}
@media (max-width: 528px) {
  .effective__title {
    font-size: 40px;
  }
  .effective__subtitle {
    font-size: 30px;
  }
  .effective__row {
    gap: 70px;
  }
}
.slider {
  padding: 50px 20px 21px;
}
.slider__container {
  position: relative;
}
.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.slider__main-info {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 906px;
}
.slider__slide-subtitle {
  font-weight: 400;
  font-size: 40px;
  color: #332c3a;
  margin-bottom: 10px;
}
.slider__slide-title {
  max-width: 930px;
  font-weight: 900;
  font-size: 64px;
  color: #6546a6;
  margin-bottom: 36px;
}
.slider__slide-info {
  width: 100%;
  overflow: hidden;
}
.slider__slide-info .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 128px 22px 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.slider__slide-text {
  max-width: 703px;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 42px;
}
.slider__slide-text span {
  font-weight: 400;
}
.slider__slide-bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.slider__slide-procent-text {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 3px;
}
.slider__slide-procent-value {
  font-weight: 500;
  font-size: 160px;
  line-height: 100%;
  color: #ffa500;
}
.slider__slide-info-text {
  max-width: 376px;
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.slider__main-image {
  margin-right: -50px;
  margin-top: 60px;
}
.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}
.slider__pagination .swiper-pagination-bullet {
  background: #ffa500;
  border-radius: 20px;
  width: 64px;
  height: 11px;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
.slider__main-image {
  position: absolute;
  top: 0;
  right: -320px;
}
.slider__addition {
  position: relative;
  margin-top: 100px;
}
.slider__addition-text {
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: #fff;
}
.slider__addition-text span {
  font-weight: 900;
  font-size: 64px;
  color: #ffa500;
}
.slider__addition-plus {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slider__decor {
  position: absolute;
  bottom: 570px;
  left: -210px;
  z-index: -10;
}
.slider__decor2 {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -10;
}
.slider__addition-image {
  display: block;
}
.slider__addition-image2 {
  display: none;
}

/* ============================================================================== */
@media (max-width: 1250px) {
  .slider__main-image {
    max-width: 400px;
    right: -146px;
  }
  .slider__slide-subtitle {
    text-align: center;
    font-size: 35px;
  }
  .slider__slide-title {
    text-align: center;
    font-size: 64px;
  }
  .slider__slide-text {
    font-size: 22px;
  }
  .slider__slide-procent-text {
    font-size: 32px;
  }
  .slider__slide-procent-value {
    font-size: 100px;
  }
  .slider__slide-info-text {
    font-size: 18px;
  }
  .slider__slide-info .swiper-slide {
    padding: 40px 182px 22px 40px;
  }
  .slider__addition img {
    max-width: 100%;
  }
  .slider__addition-text {
    font-size: 31px;
  }
  .slider__addition-text span {
    font-size: 52px;
  }
  .slider__addition-plus {
    bottom: 2%;
    max-width: 80px;
  }
  .slider__addition-plus img {
    max-width: 80px;
  }
}
@media (max-width: 768px) {
  .slider__slide-subtitle {
    font-size: 25px !important;
    text-align: left;
  }
  .slider__slide-title {
    text-align: left;
    font-size: 46px;
  }
  .slider__main-image {
    right: -176px;
    z-index: -10;
  }
  .slider__main-image img {
    max-width: 400px;
  }
  .slider__slide-text {
    font-size: 18px;
  }
  .slider__slide-bottom-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__slide-procent-text {
    text-align: left;
  }
  .slider__slide-bottom-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .slider__slide-info .swiper-slide {
    padding: 40px 20px 22px 20px;
  }
  .slider__addition {
    height: 300px;
  }
  .slider__addition-image {
    display: none;
  }
  .slider__addition-image2 {
    text-align: center;
    display: block;
    border-radius: 20px;
  }
  .slider__addition {
    height: inherit;
  }
  .slider__addition-text {
    top: 49%;
  }
  .slider__addition-plus {
    bottom: -19%;
  }
}
@media (max-width: 528px) {
  .slider__slide-subtitle {
    max-width: 250px;
    font-size: 30px;
  }
  .slider__slide-title {
    font-size: 36px;
    margin-bottom: 79px;
  }
  .slider__main-image {
    top: 30px;
  }
  .slider__slide-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .slider__slide-procent-text {
    font-size: 30px;
  }
  .slider__slide-procent-value {
    font-size: 100px;
  }
  .slider__slide-info-text {
    font-size: 16px;
  }
  .slider__slide-info .swiper-slide {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
  .slider__main-image {
    right: -91px;
  }
  .slider__main-image img {
    max-width: 300px;
  }
  .slider__addition-text {
    font-size: 30px;
  }
  .slider__addition-text {
    top: 70%;
    min-width: 350px;
  }
  .slider__addition-plus {
    bottom: -17%;
  }
  .slider__addition-plus img {
    width: 65px;
  }
}
@media (max-width: 380px) {
  .slider__slide-title {
    font-size: 28px;
  }
}
/* === slider__addition-content === */
.slider__addition-content {
  margin-top: 40px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(142, 119, 255, 0.3);
}
.slider__addition-content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #332c3a;
  margin-bottom: 30px;
}
.slider__addition-content-img {
  margin-bottom: 30px;
  border-radius: 16px;
  overflow: hidden;
}
.slider__addition-content-img img {
  max-width: 100%;
  display: block;
}
.slider__addition-content-text-addition {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #9c9b9d;
  margin-bottom: 30px;
}
.slider__addition-content-text-title {
  font-weight: 700;
  font-size: 24px;
  color: #6546a6;
  margin-bottom: 16px;
}
.slider__addition-content-text-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #332c3a;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .slider__addition-content {
    padding: 24px;
  }
  .slider__addition-content-text, .slider__addition-content-text-subtitle {
    font-size: 16px;
  }
  .slider__addition-content-text-title {
    font-size: 20px;
  }
}
.home-videos {
  position: relative;
  padding: 20px 0px 50px 0px;
}
.home-videos__container {
  position: relative;
  border: 1px solid rgba(100, 70, 166, 0.1725490196);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 40px 0px;
}
.home-videos__texts {
  padding: 0px 40px;
}
.home-videos__title {
  font-weight: 400;
  font-size: 48px;
  color: #332c3a;
  margin-bottom: 17px;
}
.home-videos__subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #332c3a;
  margin-bottom: 40px;
  max-width: 611px;
}
.home-videos__videos {
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-top: -170px;
  margin-bottom: 40px;
  gap: 20px;
}
.home-videos__video {
  border-radius: 20px;
  position: relative;
}
.home-videos__video2 {
  border-radius: 20px;
  position: relative;
}
.home-videos__video-img {
  border-radius: 20px;
  display: block;
}
.home-videos__video-img2-phone {
  display: none;
  border-radius: 20px;
  overflow: hidden;
}
.home-videos__video-img2 {
  position: relative;
}
.home-videos__video-img2::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.home-videos__video-content {
  padding: 0px 20px;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-videos__video-content1 {
  bottom: 60px;
}
.home-videos__video-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 432px;
}
.home-videos__video-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 11px;
  margin-top: -40px;
}
.home-videos__video-title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.home-videos__video-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.home-videos__button {
  margin-top: 40px;
  margin: 0px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100px;
  background: #e97300;
  padding: 26px 70px;
  text-align: center;
}
.home-videos__button-text {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.home-videos__decor1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 200px;
  left: 100px;
  z-index: -10;
}
.home-videos__decor2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: -300px;
  right: -40px;
  z-index: -10;
}

/* ============================================================================== */
@media (max-width: 1250px) {
  .home-videos__videos {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-videos__video {
    margin: 0px auto;
  }
  .home-videos__title {
    text-align: center;
  }
  .home-videos__subtitle {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .home-videos__title {
    font-size: 42px;
  }
  .home-videos__subtitle {
    font-size: 18px;
  }
  .home-videos__video {
    max-width: 100%;
    width: 100%;
  }
  .home-videos__video-img img {
    max-width: 100%;
    width: 100%;
  }
  .home-videos__video-title {
    font-size: 20px;
  }
  .home-videos__video-content {
    bottom: 20px;
  }
  .home-videos__video-button img {
    width: 80px;
  }
}
@media (max-width: 528px) {
  .home-videos__title {
    font-size: 30px;
    text-align: left;
  }
  .home-videos__subtitle {
    font-size: 20px;
    text-align: left;
  }
  .home-videos__videos {
    padding: 0px 15px;
  }
  .home-videos__video-img {
    display: none;
  }
  .home-videos__video-img2-phone {
    display: block;
  }
  .home-videos__video-img2-phone img {
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .home-videos__video-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    bottom: 20px;
  }
  .home-videos__button {
    padding: 19px 24px;
  }
  .home-videos__button-text {
    font-size: 16px;
  }
}
.texts {
  padding: 50px 0px;
}
.texts__text {
  font-weight: 400;
  font-size: 14px;
  color: #332c3a;
  margin-bottom: 20px;
}
.texts__text span {
  font-weight: 600;
}
.texts__list {
  font-weight: 400;
  font-size: 14px;
  color: #332c3a;
}
.texts__list span {
  font-weight: 600;
}
.texts__list-title {
  margin-bottom: 10px;
}

.texts__list-items {
  padding-left: 20px;
}
.texts__list-items li {
  list-style: decimal !important;
}

/* ============================================================================== */
@media (max-width: 1250px) {
  .texts {
    padding: 0px 0px 50px;
  }
}
.footer__container {
  padding: 20px 25px 50px 25px;
  border-radius: 20px 20px 0 0;
  background: #6546a6;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 42px;
}
.footer__date {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}
.footer__information {
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: #fff;
}
.footer__logo-phone {
  display: none;
}
.footer__date-phone {
  display: none;
}
.footer__date-phone {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}

/* ============================================================================== */
@media (max-width: 768px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    display: none;
  }
  .footer__logo-phone {
    display: block;
  }
  .footer__information {
    margin-bottom: 20px;
  }
  .footer__date-phone {
    display: block;
  }
}
.regimen {
  padding: 50px 0px;
}
.regimen__container {
  position: relative;
}
.regimen__title {
  font-weight: 900;
  font-size: 64px;
  color: #ffa500;
  margin-bottom: 80px;
}
.regimen__subtitle {
  font-weight: 700;
  font-size: 40px;
  color: #2c1645;
  margin-bottom: 40px;
}
.regimen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.regimen__row-item {
  max-width: 420px;
  padding: 17px 20px 35px;
  border-radius: 40px;
  border: 1px solid #8e77ff;
  background: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}
.regimen__item-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #6546a6;
  margin-bottom: 30px;
}
.regimen__item-text {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.regimen__item-img {
  text-align: center;
}
.regimen__addition {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9c9b9d;
}
.regimen__decor {
  position: absolute;
  bottom: -100px;
  left: -170px;
  z-index: -10;
}
.regimen__decor2 {
  position: absolute;
  bottom: -180px;
  right: -300px;
  z-index: -10;
}

/* ============================================================================== */
@media (max-width: 1250px) {
  .regimen__title {
    font-size: 56px;
    margin-bottom: 50px;
  }
  .regimen__subtitle {
    font-size: 26px;
  }
  .regimen__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .regimen__title {
    font-size: 40px;
  }
  .regimen__subtitle {
    font-size: 26px;
  }
  .regimen__row-item {
    min-width: 420px;
  }
  .regimen__item-title {
    font-size: 27px;
  }
  .regimen__item-text {
    font-size: 20px;
  }
}
@media (max-width: 528px) {
  .regimen__title {
    font-size: 40px;
  }
}
.header_nav-pages {
  background: rgba(61, 25, 100, 0.55);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(8px);
}

.header__logo {
  text-align: center;
  margin-bottom: 20px;
}

.header__container-pages {
  background: none;
  border: none;
}

.header-pages {
  position: relative;
  pointer-events: none;
}

.header-pages .nav-header__link,
.header-pages .menu__icon,
.header-pages .icon-menu2 {
  pointer-events: auto;
}

.header__decor {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: -10;
  pointer-events: none;
}

.header__decor-phone {
  display: none;
}

@media (max-width: 528px) {
  .header__decor {
    display: none;
  }
  .header__decor-phone {
    display: block;
  }
  .header__decor-phone {
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    z-index: -10;
    pointer-events: none;
  }
}
.list__items {
  margin-bottom: 50px;
}
.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.list__text {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.list__addition {
  margin-bottom: 20px;
}
.list__addition-text {
  font-weight: 400;
  font-size: 14px;
  color: #332c3a;
  margin-bottom: 20px;
}
.list__addition-text span {
  font-weight: 700;
}

/* ============================================================================== */
@media (max-width: 1250px) {
  .list__text {
    font-size: 20px;
  }
  .list__img img {
    width: 80px;
  }
}
@media (max-width: 528px) {
  .list__item {
    gap: 20px;
  }
  .list__text {
    font-size: 15px;
  }
  .list__img img {
    width: 60px;
  }
}
.reduction {
  padding: 100px 0px 0px;
}
.reduction__title {
  font-weight: 900;
  font-size: 64px;
  color: #ffa500;
  margin-bottom: 80px;
}
.reduction__subtitle {
  font-weight: 700;
  font-size: 40px;
  color: #2c1645;
  margin-bottom: 40px;
}
.reduction__list {
  margin-bottom: 20px;
}
.reduction__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}
.reduction__item-text {
  font-weight: 400;
  font-size: 36px;
  color: #000;
}
.reduction__addition2 {
  font-weight: 400;
  font-size: 36px;
  color: #6546a6;
}
.reduction__addition3 {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.reduction__addition-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9c9b9d;
  margin-bottom: 80px;
}
.reduction__images {
  padding: 40px;
  border: 1px solid #8e77ff;
  border-radius: 40px;
  background: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  margin-bottom: 40px;
}
.reduction__image {
  margin-bottom: 40px;
}
.reduction__image-title {
  font-weight: 700;
  font-size: 40px;
  color: #2c1645;
  margin-bottom: 40px;
}
.reduction__image-img {
  margin-bottom: 40px;
}
.reduction__mark {
  margin-top: -10px;
}
.reduction__mark img {
  width: 90px;
}
.reduction__mark-list {
  margin-bottom: 10px;
}
.reduction__mark-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}
.reduction__mark-list-text {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.reduction__mark-list-text span {
  font-weight: 700;
  color: #e97300;
}
.reduction__list-addition {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9c9b9d;
  margin-bottom: 80px;
}
.reduction__addition-texts {
  margin-bottom: 20px;
}
.reduction__text-addition {
  font-weight: 400;
  font-size: 14px;
  color: #332c3a;
  margin-bottom: 20px;
}
.reduction__text-addition span {
  font-weight: 700;
}

/* ============================================================================== */
@media (max-width: 1250px) {
  .reduction__title {
    font-size: 58px;
    margin-bottom: 50px;
  }
  .reduction__subtitle {
    font-size: 32px;
  }
  .reduction__item-text {
    font-size: 32px;
  }
  .reduction__icon img {
    max-width: 150px;
  }
  .reduction__addition2 {
    font-size: 32px;
  }
  .reduction__addition3 {
    font-size: 20px;
  }
  .reduction__addition-text {
    font-size: 16px;
  }
  .reduction__image-title {
    font-size: 32px;
  }
  .reduction__image-img img {
    max-width: 100%;
  }
  .reduction__mark {
    margin-top: 0px;
  }
  .reduction__mark-list-text {
    font-size: 20px;
  }
  .reduction__mark-list-item {
    margin-bottom: 50px;
  }
  .reduction__list-addition {
    font-size: 12px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .reduction__title {
    font-size: 40px;
  }
  .reduction__subtitle {
    font-size: 27px;
  }
  .reduction__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reduction__item-text {
    font-size: 28px;
    text-align: center;
  }
  .reduction__addition2 {
    font-size: 28px;
  }
  .reduction__addition-text {
    margin-bottom: 50px;
  }
  .reduction__image-title {
    font-size: 26px;
  }
  .reduction__images {
    padding: 20px;
  }
}
@media (max-width: 528px) {
  .reduction__subtitle {
    font-size: 24px;
  }
  .reduction__item {
    gap: 20px;
  }
  .reduction__item-text {
    font-size: 23px;
  }
  .reduction__addition2 {
    font-size: 23px;
  }
  .reduction__addition-text {
    font-size: 14px;
  }
  .reduction__image-title {
    font-size: 22px;
  }
  .reduction__mark-list-text {
    font-size: 16px;
  }
}
.videos {
  padding: 100px 0px 0px;
}
.videos__title {
  font-weight: 900;
  font-size: 64px;
  color: #ffa500;
  margin-bottom: 80px;
}
.videos__btns {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  margin-bottom: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.videos__btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
  border: 1px solid #8e77ff;
  border-radius: 40px;
  padding: 46px 73px;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: rgba(101, 70, 166, 0.7);
  min-width: 620px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
.videos__btn._active {
  background-color: #ead7ff;
  background-image: radial-gradient(278.82% 137.51% at 1.95% 3.59%, #ead7ff 17.79%, rgba(255, 255, 255, 0.01) 100%);
  font-weight: 700;
  color: #6546a6;
}
.videos__content {
  position: relative;
  z-index: 1;
}
.videos__videos-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
}
.videos__video {
  position: relative;
}
.videos__video-content {
  position: absolute;
  bottom: 30px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.videos__video-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 11px;
}
.videos__video-title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.videos__play {
  cursor: pointer;
}
.videos__materials {
  display: none;
}
.effective-page__title {
  font-weight: 900;
  font-size: 64px;
  color: #ffa500;
  margin-bottom: 60px;
  margin-top: 100px;
}
.effective-page__btns {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  margin-bottom: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.effective-page__btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
  border: 1px solid #8e77ff;
  border-radius: 40px;
  padding: 46px 73px;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: rgba(101, 70, 166, 0.7);
  min-width: 620px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
.effective-page__btn._active {
  background-color: #ead7ff;
  background-image: radial-gradient(278.82% 137.51% at 1.95% 3.59%, #ead7ff 17.79%, rgba(255, 255, 255, 0.01) 100%);
  font-weight: 700;
  color: #6546a6;
}
.effective-page__cns-title {
  font-weight: 700;
  font-size: 40px;
  color: #2c1645;
  margin-bottom: 40px;
}
.effective-page__cns-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}
.effective-page__cns-procents {
  font-weight: 500;
  font-size: 160px;
  line-height: 100%;
  color: #ffa500;
  margin-bottom: 20px;
}
.effective-page__cns-procent-text {
  font-weight: 400;
  font-size: 36px;
  color: #000;
}
.effective-page__cns-time {
  padding: 40px 44px;
  border: 1px solid #8e77ff;
  border-radius: 40px;
  background: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  margin-bottom: 80px;
}
.effective-page__cns-time-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #020202;
  margin-bottom: 40px;
}
.effective-page__cns-time-img {
  margin-bottom: 30px;
}
.effective-page__cns-addition {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}
.effective-page__cns-time-plus {
  text-align: center;
}
.effective-page__cns-schedule-wrapper {
  border-radius: 40px;
  margin-bottom: 80px;
  background: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #8e77ff;
  padding: 40px;
}
.effective-page__cns-schedule {
  margin-bottom: 80px;
}
.effective-page__cns-schedule-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 20px;
  background: #6546a6;
  border-radius: 40px;
  margin-bottom: 24px;
}
.effective-page__cns-schedule-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
.effective-page__cns-schedule-procent {
  line-height: 1 !important;
  font-weight: 500;
  font-size: 48px;
  line-height: 333%;
  color: #ffa500;
}
.effective-page__cns-schedule-procent span {
  font-size: 160px;
}
.effective-page__cns-schedule-procent-text {
  font-weight: 400;
  font-size: 36px;
  color: #000;
}
.effective-page__cns-schedule-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #020202;
  margin-bottom: 40px;
}
.effective-page__cns-schedule-title span {
  color: #6546a6;
}
.effective-page__cns-schedule-img {
  margin-bottom: 80px;
}
.effective-page__cns-schedule-addition {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9c9b9d;
}
.effective-page__cns-addition-text {
  font-weight: 400;
  font-size: 14px;
  color: #332c3a;
  margin-bottom: 20px;
}
.effective-page__cns-addition-text span {
  font-weight: 700;
}
.effective-page__cns-schedule-list-title {
  font-weight: 600;
  font-size: 14px;
  color: #332c3a;
  margin-bottom: 10px;
}
.effective-page__cns-schedule-list-text {
  font-weight: 400;
  font-size: 14px;
  color: #332c3a;
  margin-bottom: 40px;
}

.effective-page__general-title {
  font-weight: 700;
  font-size: 40px;
  color: #2c1645;
  margin-bottom: 40px;
}
.effective-page__general-title span {
  color: #e97300;
}
.effective-page__general-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}
.effective-page__general-procent {
  font-weight: 500;
  font-size: 160px;
  line-height: 100%;
  color: #ffa500;
  margin-bottom: 20px;
}
.effective-page__general-text {
  font-weight: 400;
  font-size: 36px;
  color: #000;
}
.effective-page__general-text span {
  font-weight: 700;
  color: #6546a6;
}
.effective-page__general-schedule {
  border-radius: 40px;
  background: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #8e77ff;
  padding: 40px;
  margin-bottom: 40px;
}
.effective-page__general-schedule-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #020202;
  margin-bottom: 7px;
}
.effective-page__general-shedule {
  margin-bottom: 30px;
}
.effective-page__general-shedule-addition {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
}
.effective-page__general-shedule-addition2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9c9b9d;
}
.effective-page__general-learn-more {
  position: relative;
}
.effective-page__general-learn-more-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 40px 80px 40px;
}
@media (min-width: 1251px) {
  .effective-page__general-learn-more-content {
    margin-top: -260px;
  }
}
.effective-page__general-learn-more-text {
  font-weight: 400;
  font-size: 48px;
  color: #fff;
  margin-bottom: 10px;
}
.effective-page__general-learn-more-title {
  font-weight: 900;
  font-size: 64px;
  color: #ffa500;
}
.effective-page__general-learn-more-btn {
  cursor: pointer;
}
.effective-page__general-shedule-procent-wrapper {
  border-radius: 40px;
  background: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #8e77ff;
  margin-bottom: 80px;
  padding: 40px;
}
.effective-page__general-shedule-procent-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
.effective-page__general-shedule-procent-procent {
  font-weight: 500;
  font-size: 160px;
  line-height: 100%;
  color: #ffa500;
  line-height: 1;
}
.effective-page__general-shedule-procent-text {
  font-weight: 400;
  font-size: 36px;
  color: #000;
}
.effective-page__general-shedule-procent-text span {
  font-weight: 700;
  color: #6546a6;
}
.effective-page__general-shedule-procent-img {
  margin-bottom: 60px;
}
.effective-page__general-shedule-procent-addition {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9c9b9d;
  margin-bottom: 20px;
}
.effective-page__general-shedule-procent-minus {
  text-align: center;
}
.effective-page__general-simple-title {
  font-weight: 700;
  font-size: 40px;
  color: #2c1645;
  margin-bottom: 40px;
}
.effective-page__general-simple-title span {
  color: #e97300;
}
.effective-page__general-simple-shedule {
  padding: 40px;
  margin-bottom: 80px;
  background: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 40px;
  border: 1px solid #8e77ff;
}
.effective-page__general-simple-shedule-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #020202;
  margin-bottom: 40px;
}
.effective-page__general-simple-img {
  margin-bottom: 30px;
}
.effective-page__general-simple-shedule-addition {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}
.effective-page__general-simple-shedule-plus {
  text-align: center;
}
.effective-page__general-example-title {
  font-weight: 700;
  font-size: 40px;
  color: #2c1645;
  margin-bottom: 40px;
}
.effective-page__general-example-title span {
  color: #e97300;
}
.effective-page__general-example-shedule {
  border-radius: 40px;
  padding: 40px;
  margin-bottom: 80px;
  background: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #8e77ff;
}
.effective-page__general-example-shedule-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #020202;
  margin-bottom: 40px;
}
.effective-page__general-addition {
  font-weight: 400;
  font-size: 14px;
  color: #332c3a;
  margin-bottom: 20px;
}
.effective-page__general-addition span {
  font-weight: 700;
}
.effective-page__general-list {
  margin-bottom: 40px;
}
.effective-page__general-list-title {
  font-weight: 600;
  font-size: 14px;
  color: #332c3a;
  margin-bottom: 10px;
}
.effective-page__general-list-items {
  font-weight: 400;
  font-size: 14px;
  color: #332c3a;
}
.effective-page__general-learn-more-img-phone {
  display: none;
}

/* ============================================================================== */
@media (max-width: 1250px) {
  .effective-page__title {
    font-size: 58px;
  }
  .effective-page__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .effective-page__btn {
    font-size: 35px;
  }
  .effective-page__general-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .effective-page__general-title {
    font-size: 36px;
  }
  .effective-page__general-item-img img {
    max-width: 250px;
  }
  .effective-page__general-procent {
    font-size: 140px;
  }
  .effective-page__general-text {
    font-size: 32px;
  }
  .effective-page__general-schedule-title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .effective-page__general-shedule img {
    max-width: 100%;
  }
  .effective-page__general-shedule-addition2 {
    font-size: 14px;
  }
  .effective-page__general-learn-more-img {
    display: none;
  }
  .effective-page__general-learn-more-img-phone {
    display: block;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .effective-page__general-learn-more-img-phone img {
    max-width: 100%;
    width: 100%;
    display: block;
  }
  .effective-page__general-shedule-procent-item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .effective-page__general-shedule-procent-img img {
    max-width: 100%;
  }
  .effective-page__general-shedule-procent-procent {
    font-size: 140px;
  }
  .effective-page__general-shedule-procent-text {
    font-size: 32px;
  }
  .effective-page__general-shedule-procent-addition {
    font-size: 14px;
  }
  .effective-page__general-simple-title {
    font-size: 32px;
  }
  .effective-page__general-simple-shedule-title {
    font-size: 32px;
  }
  .effective-page__general-simple-img img {
    max-width: 100%;
  }
  .effective-page__general-simple-shedule-addition {
    margin-bottom: 20px;
  }
  .effective-page__general-example-title {
    font-size: 32px;
  }
  .effective-page__general-example-shedule-title {
    font-size: 32px;
  }
  .effective-page__general-example-shedule-img img {
    max-width: 100%;
  }
  .effective-page__general-example-shedule {
    margin-bottom: 60px;
  }
  .effective-page__cns-title {
    font-size: 36px;
  }
  .effective-page__cns-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .effective-page__cns-item-icon img {
    max-width: 250px;
  }
  .effective-page__cns-procents {
    font-size: 140px;
  }
  .effective-page__cns-procent-text {
    font-size: 32px;
  }
  .effective-page__cns-time-title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .effective-page__cns-time-img img {
    max-width: 100%;
  }
  .effective-page__cns-time {
    padding: 40px 40px 20px 40px;
  }
  .effective-page__cns-schedule-item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .effective-page__cns-schedule-procent span {
    font-size: 140px;
  }
  .effective-page__cns-schedule-procent-text {
    font-size: 32px;
  }
  .effective-page__cns-schedule-title {
    font-size: 32px;
  }
  .effective-page__cns-schedule-img img {
    max-width: 100%;
  }
  .effective-page__cns-schedule-procent-text {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .effective-page__title {
    font-size: 48px;
  }
  .effective-page__btn {
    min-width: auto;
    width: 100%;
    padding: 32px 24px;
    font-size: 28px;
  }
  .effective-page__general-title {
    font-size: 32px;
  }
  .effective-page__general-procent {
    font-size: 100px;
  }
  .effective-page__general-text {
    font-size: 24px;
  }
  .effective-page__general-learn-more-content {
    margin-top: -170px;
    padding: 0 24px 40px 24px;
  }
  .effective-page__general-learn-more-text {
    font-size: 32px;
  }
  .effective-page__general-learn-more-title {
    font-size: 48px;
  }
  .effective-page__general-shedule-procent-procent {
    font-size: 100px;
  }
  .effective-page__general-shedule-procent-text {
    font-size: 24px;
  }
  .effective-page__general-shedule-procent-text {
    font-size: 20px;
  }
  .effective-page__general-learn-more-content {
    margin-top: -188px;
  }
  .effective-page__general-shedule-procent-img {
    margin-bottom: 30px;
  }
  .effective-page__general-simple-title {
    font-size: 26px;
  }
  .effective-page__general-simple-shedule-title {
    font-size: 26px;
  }
  .effective-page__general-example-title {
    font-size: 26px;
  }
  .effective-page__general-example-shedule-title {
    font-size: 26px;
  }
  .effective-page__cns-title {
    font-size: 32px;
  }
  .effective-page__cns-procents {
    font-size: 100px;
  }
  .effective-page__cns-procent-text {
    font-size: 24px;
  }
  .effective-page__cns-item-icon img {
    max-width: 220px;
  }
  .effective-page__general-item-img img {
    max-width: 220px;
  }
  .effective-page__cns-time-title {
    font-size: 28px;
  }
  .effective-page__cns-schedule-name {
    font-size: 16px;
  }
  .effective-page__cns-schedule-procent span {
    font-size: 100px;
  }
  .effective-page__cns-schedule-procent-text {
    font-size: 22px;
  }
  .effective-page__cns-schedule-title {
    font-size: 23px;
  }
  .effective-page__cns-schedule {
    margin-bottom: 40px;
  }
  .effective-page__cns-schedule-wrapper {
    padding: 20px;
  }
  .effective-page__cns-time {
    margin-bottom: 40px;
  }
  .effective-page__cns-item {
    margin-bottom: 50px;
  }
  .effective-page__btns {
    gap: 20px;
    margin-bottom: 50px;
  }
  .effective-page__general-item {
    margin-bottom: 50px;
  }
}
@media (max-width: 528px) {
  .effective-page__title {
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 80px;
  }
  .effective-page__btn {
    font-size: 24px;
    padding: 24px 16px;
  }
  .effective-page__general-title {
    font-size: 26px;
  }
  .effective-page__general-procent {
    font-size: 100px;
  }
  .effective-page__general-text {
    font-size: 20px;
  }
  .effective-page__general-learn-more-text {
    font-size: 24px;
  }
  .effective-page__general-learn-more-title {
    font-size: 36px;
  }
  .effective-page__general-shedule-procent-procent {
    font-size: 100px;
  }
  .effective-page__general-shedule-procent-text {
    font-size: 20px;
  }
  .effective-page__general-learn-more-btn img {
    width: 90px;
  }
  .effective-page__general-simple-shedule {
    margin-bottom: 60px;
  }
  .effective-page__general-shedule-procent-wrapper {
    margin-bottom: 60px;
  }
  .effective-page__general-learn-more-content {
    margin-top: -151px;
  }
  .effective-page__general-shedule-addition2 {
    font-size: 10px;
  }
  .effective-page__general-shedule-addition {
    font-size: 10px;
  }
  .effective-page__general-schedule-title {
    font-size: 20px;
  }
  .effective-page__general-item-img img {
    max-width: 160px;
  }
  .effective-page__general-item {
    margin-bottom: 40px;
  }
  .effective-page__general-shedule-procent-wrapper {
    padding: 20px;
  }
  .effective-page__general-shedule-procent-addition {
    font-size: 10px;
  }
  .effective-page__general-shedule-procent-minus img {
    width: 60px;
  }
  .effective-page__general-simple-shedule-title {
    font-size: 20px;
  }
  .effective-page__general-simple-shedule-addition {
    font-size: 10px;
  }
  .effective-page__general-simple-shedule-plus img {
    width: 55px;
  }
  .effective-page__general-simple-shedule {
    padding: 20px;
  }
  .effective-page__general-example-shedule-title {
    font-size: 20px;
  }
  .effective-page__cns-title {
    font-size: 26px;
  }
  .effective-page__cns-item-icon img {
    max-width: 160px;
  }
  .effective-page__cns-procent-text {
    font-size: 20px;
  }
  .effective-page__cns-time-title {
    font-size: 20px;
  }
  .effective-page__general-schedule {
    padding: 20px;
  }
  .effective-page__cns-addition {
    font-size: 10px;
  }
  .effective-page__cns-schedule-name {
    font-size: 13px;
  }
  .effective-page__cns-schedule-procent span {
    font-size: 80px;
  }
  .effective-page__cns-schedule-procent-text {
    font-size: 18px;
  }
  .effective-page__cns-schedule-title {
    font-size: 18px;
  }
  .effective-page__cns-schedule-img {
    margin-bottom: 30px;
  }
  .effective-page__cns-schedule-addition {
    font-size: 13px;
  }
}
.security__title {
  max-width: 1200px;
  font-weight: 900;
  font-size: 64px;
  color: #ffa500;
  margin-top: 100px;
  margin-bottom: 80px;
}
.security__subtitle {
  font-weight: 700;
  font-size: 40px;
  color: #2c1645;
  margin-bottom: 70px;
}
.security__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}
.security__row-item {
  max-width: 620px;
  min-height: 399px;
  border-radius: 40px;
  background: #432a6b;
  padding: 20px 34px 87px;
}
.security__item-img {
  margin-top: -55px;
  margin-bottom: 20px;
}
.security__item-title {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}
.security__item-title span {
  color: #ffa500;
}
.security__procent-item {
  margin-bottom: 40px;
}
.security__procent-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.security__procent-item-texts {
  margin-bottom: 40px;
}
.security__procent-item-procent {
  line-height: 1;
  font-weight: 500;
  font-size: 48px;
  color: #ffa500;
  margin-bottom: 20px;
  white-space: nowrap;
}
.security__procent-item-procent span {
  font-size: 160px;
}
.security__procent-item-text {
  font-weight: 400;
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
}
.security__procent-item-text span {
  font-weight: 700;
  color: #6546a6;
}
.security__procent-item-addition {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.security__procent-item-addition span {
  font-weight: 700;
}
.security__message {
  padding: 40px;
  border-radius: 40px;
  background: #6546a6;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 80px;
}
.security__profile {
  font-weight: 700;
  font-size: 40px;
  color: #2c1645;
  margin-bottom: 40px;
}
.security__mark-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.security__mark-item-text {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.security__mark-item-text span {
  font-weight: 700;
  color: #e97300;
}
.security__column {
  margin-top: 50px;
  border-radius: 40px;
  background: radial-gradient(278.82% 137.51% at 1.95% 3.59%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #8e77ff;
  padding: 40px;
  margin-bottom: 80px;
}
.security__column-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #020202;
  margin-bottom: 40px;
}
.security__column-img {
  text-align: center;
  margin-bottom: 20px;
}
.security__addition {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.security__column-plus {
  text-align: center;
}
.security__info-title {
  font-weight: 700;
  font-size: 40px;
  color: #2c1645;
  margin-bottom: 40px;
}
.security__info-img {
  margin-bottom: 40px;
}
.security__info-addition {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9c9b9d;
  margin-bottom: 80px;
}
.security__addition-text {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  color: #332c3a;
  margin-bottom: 20px;
}
.security__addition-list {
  margin-bottom: 40px;
}
.security__addition-list-title {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  color: #332c3a;
}
.security__addiiton-list-item {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  color: #332c3a;
}

@media (max-width: 1250px) {
  .security__title {
    font-size: 58px;
  }
  .security__subtitle {
    font-size: 32px;
  }
  .security__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
  }
  .security__row-item {
    min-width: 100%;
    min-height: 309px;
  }
  .security__item-title {
    font-size: 28px;
  }
  .security__procent-item-texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
  .security__procent-item-procent {
    font-size: 36px;
    white-space: normal;
    line-height: 1.2;
  }
  .security__procent-item-procent span {
    font-size: 120px;
  }
  .security__procent-item-text, .security__procent-item-addition {
    font-size: 24px;
  }
  .security__message {
    font-size: 20px;
    padding: 24px;
  }
  .security__profile {
    font-size: 32px;
  }
  .security__mark-item-text {
    font-size: 18px;
  }
  .security__column-img img {
    max-width: 100%;
  }
  .security__info-img img {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .security__title {
    font-size: 48px;
    margin-bottom: 50px;
  }
  .security__subtitle {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .security__row {
    gap: 60px;
  }
  .security__procent-item-procent {
    font-size: 28px;
  }
  .security__procent-item-procent span {
    font-size: 80px;
  }
  .security__procent-item-text, .security__procent-item-addition {
    font-size: 18px;
  }
  .security__profile {
    font-size: 24px;
  }
  .security__message {
    font-size: 16px;
  }
  .security__mark-item-text {
    font-size: 16px;
  }
  .security__column-title, .security__info-title {
    font-size: 24px;
  }
  .security__column {
    padding: 24px;
  }
  .security__column-img img, .security__info-img img {
    max-width: 100%;
  }
  .security__procent-item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .security__procent-item-icon img {
    max-width: 250px;
  }
}
@media (max-width: 528px) {
  .security__title {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .security__subtitle {
    font-size: 24px;
  }
  .security__item-title {
    font-size: 22px;
  }
  .security__item-img img {
    max-width: 120px;
  }
  .security__row-item {
    padding: 20px 34px 41px;
    min-height: inherit;
  }
  .security__procent-item-icon img {
    max-width: 160px;
  }
  .security__procent-item-wrapper {
    gap: 20px;
  }
  .security__procent-item-procent span {
    font-size: 60px;
  }
  .security__mark-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}