.control-accordeon {
  &__container {
  }

  &__accordeon {
  }

  &__accordeon-header {
    padding: 22px 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    border-radius: 20px;
    box-shadow: 0 6px 20px 0 rgba(44, 22, 69, 0.36);
    background: #432a6b;
  }

  &__accordeon-header-decor {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__accordeon-header-decor img {
    border-radius: 20px;
  }

  &__accordeon-title {
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    line-height: 1;
  }

  &__accordeon-icon {
    cursor: pointer;
    z-index: 10;

    img {
      transition: transform 0.3s ease;
      transform: rotate(0deg);
    }
  }

  &__accordeon-content {
    padding: 40px 0px;
    transition: display 0.3s ease;
  }

  &__accordeon-content-title {
    font-weight: 700;
    font-size: 40px;
    color: #2c1645;
    margin-bottom: 40px;
  }

  &__accordeon-content-list-big {
    margin-bottom: 80px;
  }

  &__accordeon-content-item-big {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__accordeon-content-item-icon {
  }

  &__accordeon-content-item-texts {
  }

  &__accordeon-content-item-procent {
    font-weight: 500;
    font-size: 48px;
    line-height: 333%;
    color: #ffa500;

    & span {
      font-size: 160px;
    }
  }

  &__accordeon-content-item-text {
    font-weight: 400;
    font-size: 36px;
    color: #000;

    & span {
      font-weight: 700;
      color: #6546a6;
    }
  }

  &__accordeon-content-item-list {
    font-weight: 400;
    font-size: 24px;
    color: #000;
  }

  &__accordeon-content-item-img {
    text-align: center;
    margin-bottom: 80px;
  }

  &__accordeon-content-item-info {
    border-radius: 30px;
    background: #432a6b;
    padding: 40px 30px;

    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 80px;
  }

  &__accordeon-content-item-info-img {
  }

  &__accordeon-content-item-info-texts {
  }

  &__accordeon-content-item-info-title {
    font-weight: 700;
    font-size: 36px;
    color: #ffa500;
    margin-bottom: 25px;
  }

  &__accordeon-content-item-info-text {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
  }

  &__accordeon-content-item-tactics {
    border-radius: 40px;
    background: radial-gradient(
      278.82% 137.51% at 1.95% 3.59%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid #8e77ff;
    margin-bottom: 80px;
    padding: 40px;
  }

  &__accordeon-content-item-tactics-title {
    font-weight: 700;
    font-size: 40px;
    color: #2c1645;
    margin-bottom: 34px;
  }

  &__accordeon-content-item-tactics-img {
  }

  &__accordeon-content-item-control {
  }

  &__accordeon-content-item-control-title {
    font-weight: 700;
    font-size: 40px;
    color: #2c1645;
    margin-bottom: 40px;
  }

  &__accordeon-content-item-control-info {
    border-radius: 40px;
    background: radial-gradient(
      278.82% 137.51% at 1.95% 3.59%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid #8e77ff;
    padding: 40px;
    margin-bottom: 40px;
  }

  &__accordeon-content-item-control-name {
    width: fit-content;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 55px;
    margin-bottom: 30px;

    border-radius: 40px;
    background: #6546a6;
  }

  &__accordeon-content-item-control-item {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__accordeon-content-item-control-icon {
  }

  &__accordeon-content-item-control-text {
    font-weight: 400;
    font-size: 24px;
    color: #000;

    & span {
      font-weight: 700;
      color: #6546a6;
    }
  }

  &__accordeon-content-medicaments {
    border-radius: 40px;
    background: radial-gradient(
      278.82% 137.51% at 1.95% 3.59%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid #8e77ff;
    padding: 40px;
    margin-bottom: 80px;
  }

  &__accordeon-content-medicaments-name {
    width: fit-content;
    border-radius: 40px;
    background: #e97300;
    padding: 17px 71px;

    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
  }

  &__accordeon-content-medicaments-item {
    display: flex;
    align-content: center;
    gap: 14px;
    margin-bottom: 30px;
  }

  &__accordeon-content-medicaments-dot {
  }

  &__accordeon-content-medicaments-item-text {
    font-weight: 400;
    font-size: 24px;
    color: #000;

    & span {
      font-weight: 700;
    }
  }

  &__accordeon-content-medicaments-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__accordeon-content-medicaments-row-item {
    padding: 30px;
    border-radius: 20px;
    background: #efe8fc;

    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #6546a6;
  }

  &__accordeon-content-medicaments-row-item-title {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #6546a6;
    margin-bottom: 20px;
  }

  &__accordeon-content-medicaments-text {
    font-weight: 400;
    font-size: 16px;
    color: #000;

    & span {
      font-weight: 400;
    }
  }

  &__accordeon-content-item-list-addition {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #9c9b9d;
    margin-bottom: 80px;
  }

  &__accordeon-content-item-control-text-title {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-bottom: 2px;
  }

  &__accordeon-content-accordeon-second-special {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding: 40px 40px 10px 40px;

    border-radius: 40px;
    background: #e97300;
  }

  &__accordeon-content-accordeon-second-special-text {
    margin-bottom: 30px;
  }
}
