.control-main {
  &__container {
  }

  &__title {
    font-weight: 900;
    font-size: 64px;
    color: #ffa500;
    margin-top: 100px;
    margin-bottom: 34px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 40px;
    color: #2c1645;
    margin-bottom: 40px;
  }

  &__steps {
    display: flex;
    align-items: center;
    gap: 55px 40px;
    margin-bottom: 80px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__step {
    max-width: 640px;
    border-radius: 20px;
    background: #432a6b;
    padding: 70px 40px 40px 40px;
  }

  &__step-number {
    width: fit-content;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    border-radius: 40px;
    background: radial-gradient(
      278.82% 137.51% at 1.95% 3.59%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid #8e77ff;
    padding: 13px 64px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    margin-top: -85px;
    margin-bottom: 30px;
  }

  &__step-title {
    font-weight: 700;
    font-size: 24px;
    color: #ffa500;
    margin-bottom: 10px;
  }

  &__step-text {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }

  &__info {
    margin-bottom: 40px;
  }

  &__info-title {
    font-weight: 700;
    font-size: 36px;
    color: #020202;
    margin-bottom: 40px;
  }

  &__info-list {
    margin-bottom: 60px;
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
  }

  &__item-icon {
  }

  &__item-text {
    font-weight: 400;
    font-size: 24px;
    color: #000;
  }

  &__addition {
    background: #6546a6;
    border-radius: 40px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    padding: 40px;
  }
}
